
.card {
  margin: 5rem auto;
  float: none;
}

.card-header {
  text-align: center;
}

.hover-shadow {
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out; 
}

.hover-shadow:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
}

.error-message {
  color: red; 
  font-size: 14px;
  margin-top: 5px; 
}
